.block-square{
	position:relative;
	display:inline-block;
	width: 250px;
	height:250px;
	background-color:red;
	opacity:50%;
&--small{
	width: 100px;
	height:100px;
	display:block;
	position:absolute;
	background-color: white;
	margin: 10px 10px 10px 10px;
	
}
}