.block-header{
	background-color:black;
	position:relative;/* relative */
	display:inline-block;
	width:100%;
	height:50px;

	@mixin atSmall{
		height:75px;
	}
	@mixin atMedium{
		height:100px;
	}
	@mixin atLarge{
		height:115px;
	}
	

	
}