
.btn{

	background-color: $mainGreen;
	color:Black;
	text-decoration: none;
	padding: .75rem 1.2rem;
	display:inline-block;
	transform:translateY(25%);

	&--black{
		background-color: black;
		color:white;
	}
		&--large{
			font-size: 1rem;
	

			padding: .45rem 1.2rem;	
			@mixin atSmall{
				font-size: 1rem;
				padding: .9rem 1.1rem;
			}

	}

}