.navCritics{
	
 position:absolute;
 top:150px;
 left:50px;
 z-index:4;
background-color: rgba(255,255,255,.33);
 	width:300px;
 
 text-decoration:none;
ul{

	list-style:none;	
}
li a{
	text-decoration:none;
	color:black;
	font-size:1.55rem;	
	display:block;

		
}

}
.navCritics ul li :hover {
	display:block;
	background-color: rgba($mainRed,.33);
	color:black;	
}