.row{

	@mixin clearfix;
	&--gutters {
		margin-right: -65px;
	}
	&--guttersLg {
		margin-right: -100px;
	}
	&--guttersSm{
		margin-right:-45px;
	}
	&--tPadding{
		padding-top: 80px;
	}


	&--gutters > div {
		padding-right: 65px;
	}
	&--guttersLg > div {
		padding-right: 65px;
	}
	&--guttersSm > div {
		padding-right: 45px;
	}
	&__bMarginForMed{
		margin-bottom: 65px;
	}
	@mixin atMedium{
		&__bMarginForMed{
		margin-bottom: 0px;
		}
		&__med4 {
			float:left;
			width:33.33%;
		}
		&__med4--larger{
			width: 37%;

		}
		&__med8 {
			float:left;
			width: 66.66%;
		}
		&__med8--smaller {
			width: 63%;
		}
		&__med6{
			float:left;
			width:50%;
		}

	}

	@mixin atLarge{
		&__bMarginForLg{
		margin-bottom: 0px;
		}
		&__lg4 {
			float:left;
			width:33.33%;
		}
		&__lg4--larger{
			width: 37%;

		}
		&__lg8 {
			float:left;
			width: 66.66%;
		}
		&__lg8--smaller {
			width: 63%;
		}
		&__lg6{
			float:left;
			width:50%;
		}

	}


/*begin equal height rules*/
	.flexbox &--eqHtMd{
		@mixin atMedium{
			display:flex;
		}
		& > div{
			float:none;
			display:flex;	
		}
	}
		&--eqHtLg{
		@mixin atLarge{
			display:flex;
		}
		& > div{
			float:none;
			display:flex;	
		}
	}

}