.row{

	@mixin clearfix;
	&--gutters {
		margin-right: -65px;
	}
	&--guttersLg {
		margin-right: -100px;
	}


	&--gutters > div {
		padding-right: 65px;
	}
	&--guttersLg > div {
		padding-right: 65px;
	}
	&__bMarginForMed{
		margin-bottom: 65px;
	}
	@mixin atMedium{
		&__bMarginForMed{
		margin-bottom: 0px;
		}
		&__med4 {
			float:left;
			width:33.33%;
		}
		&__med4--larger{
			width: 37%;

		}
		&__med8 {
			float:left;
			width: 66.66%;
		}
		&__med8--smaller {
			width: 63%;
		}
		&__med6{
			float:left;
			width:50%;
		}

	}

}