.title-large{
color:$mainOrange;
font-size:.8rem;
font-weight:10;
text-align:right;
position:fixed;
top:10px;
right:18px;
@mixin atSmall{
	color:$mainRed;
	font-size:1.825rem;
	font-weight:25;
}
@mixin atMedium{
	color:$mainViolet;
	font-weight:8;
	font-size:2rem;
}
@mixin atLarge{
	color:$mainBlue;
	font-weight:100;
	font-size:2.8rem;
}
}